.nav{
    display: flex;
    max-width: 100%;
    box-sizing: content-box;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding: 20px;
    align-items: center;
}

.nav div{
    display: flex;
    justify-content: space-around;
}

.nav div *{
    margin-right: 10px;
}